/* GENERAL */
html,
body {
  font-family: Raleway, Arial, Helvetica, sans-serif;
}
.flexCentre {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexAround {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flexColumnCentre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flexColumnAround {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.flexColumnBetween {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.decorationNone {
  text-decoration: none;
}
.bordureNone {
  border: none;
}
.texteGras {
  font-weight: bold;
}
.colorBleu {
  color: #0065fc;
}
.colorBleuClair {
  color: #deebff;
}
.colorGris {
  color: #f2f2f2;
}
.backBleu {
  background-color: #0065fc;
}
.backBleuClair {
  background-color: #deebff;
}
.backGris {
  background-color: #f2f2f2;
}
/* NAV */
.sizeNav {
  height: 100px;
}
.sizeLiens {
  width: 100%;
}
.sizeLien12 {
  margin-left: 60%;
}
.sizeLien {
  width: 140px;
  height: 99px;
}
.colorLien2 {
  color: black;
}
.bordureNav {
  border-top: 1px solid transparent;
}
.bordureNav:hover {
  border-top: 1px solid #0065fc;
  cursor: pointer;
}
.bordureNav:hover > a {
  color: #0065fc;
}
.marglogo {
  margin-bottom: 7px;
}
/*HEADER*/
.bordureSearch {
  width: 400px;
  border-radius: 10px;
  border: 0.5px solid #f2f2f2;
}
.paddingSearch {
  padding-left: 20px;
}
.recherche {
  height: 50px;
  width: 230px;
  font-size: 18px;
  color: black;
  font-weight: bold;
}
.iconSize {
  height: 50px;
  width: 50px;
  border-radius: 10px 0 0 10px;
}
.buttonSearch {
  height: 50px;
  width: 120px;
  color: white;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
}
.buttonSearch:hover {
  color: #0065fc;
  background-color: #f2f2f2;
}

/* Filtres */
.margFiltre {
  margin-top: 50px;
  margin-bottom: 40px;
}
.filtre {
  display: flex;
  align-items: center;
}
.margFiltreTitre {
  margin-right: 20px;
}
.filtreTexteIcons {
  border: 2px solid #f2f2f2;
  height: 50px;
  border-radius: 30px;
  margin-right: 20px;
}

.filtreTexteIcons:hover > .filtreTexte {
  color: #0065fc;
}
.filtreTexteIcons:hover > .filtreIcons {
  color: white;
  background-color: #0065fc;
}
.filtreTexte {
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 0 25px 25px 0;
}

.filtreIcons {
  margin-left: -2px;
  border-radius: 25px;
  width: 52px;
  height: 52px;
  color: #0065fc;
  background-color: #deebff;
}

/* INFO ICONE */
.info {
  display: flex;
  align-items: center;
}
.parentIcon {
  width: 20px;
  height: 20px;
  border: 2px solid #f2f2f2;
  border-radius: 25px;
  margin-right: 5px;
}